<!DOCTYPE html>
<html>
<title>ANoun?</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}
</style>
<body>

<h2><%="You chose #{@search.colour}."%></h2>
<h2><%="Your noun is #{@search.noun}."%></h2>
<img src=<%=@search.res['hits'][0]['previewURL']%> alt="W3Schools.com" style="width:104px;height:142px;">
<img src=<%=@search.res['hits'][1]['previewURL']%> alt="W3Schools.com" style="width:104px;height:142px;">
<img src=<%=@search.res['hits'][2]['previewURL']%> alt="W3Schools.com" style="width:104px;height:142px;">
<img src=<%=@search.res['hits'][3]['previewURL']%> alt="W3Schools.com" style="width:104px;height:142px;">
<img src=<%=@search.res['hits'][4]['previewURL']%> alt="W3Schools.com" style="width:104px;height:142px;">

</body>
</html>
